.btn {
  display: inline-block;
  border: 1px solid transparent;
  padding: 1.2rem 3rem;
  font-size: $fz-sm;
  font-weight: $fw-regular;
  transition: 0.5s;
  border-radius: $border-radius;
  outline: none;
  text-transform: capitalize;
  color: $c-theme-heading;
  &:hover {
    color: $c-primary;
  }
  &.btn-pri {
    border-color: $c-primary;
    background-color: rgba($c-primary_rgb, 0.8);
    color: $c-white;
    &:hover {
      color: $c-white;
      background-color: rgba($c-primary_rgb, 1);
    }
  }
  @include breakPoint($bp-md) {
    padding: 1.5rem 5rem;
    font-size: $fz-lg;
  }
  &.btn-sm {
    padding: 1.2rem 2.5rem;
  }
}
