.card-item {
  border-radius: $border-radius;
  overflow: hidden;
  &-header {
    overflow: hidden;
    img {
      transition: 0.5s;
      height: auto;
      @include breakPoint($bp-lg) {
        height: 220px;
        width: 100%;
      }
    }
  }
  &-body {
    @include flexBox(center, center);
    flex-direction: column;
    h3 {
      a {
        display: inline-block;
        @include Text($fz-xl, $fw-regular, $c-theme-heading);
        transition: 0.6s;
      }
    }
    p {
      @include Text($fz-md, $fw-light, $c-theme-font);
      @include limitLine;
      line-height: 1.8;
      opacity: 0.8;
    }
  }
  &:hover {
    .card-item-body h3 a {
      color: $c-primary;
    }
  }
  // Center Heading
  &--center-heading {
    .card-item-body {
      padding-inline: 2rem;
      @include breakPoint($bp-lg) {
        padding-inline: 0;
      }
      h3 {
        text-align: center;
        padding-bottom: 0;
        a {
          border-radius: $border-radius;
          padding: 1.2rem 3.5rem;
          background-color: $c-theme-bg;
          border: 1px solid $c-theme-border;
          box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
          transform: translateY(-25px);
        }
      }
      p {
        text-align: center;
      }
    }
    .card-item-footer {
      @include flexBox(center, center);
    }
  }
  // Zoom Effect
  &.card-item--zoom-effect {
    &:hover {
      .card-item-header img {
        transform: scale(1.1);
      }
      .card-item-body h3 a {
        color: $c-primary;
      }
    }
    .card-item-header {
      a {
        display: block;
      }
    }
    .card-item-body {
      align-items: flex-start;
      padding: 2rem;
      min-height: 170px;
      p {
        margin-bottom: 0;
        a {
          @include Text($fz-md, $fw-light, #999);
          @include limitLine;
          max-height: 3.6;
        }
      }
      h3 {
        font-size: 0;
        a {
          @include Text($fz-1_2_xl, $fw-regular, $c-theme-heading);
          line-height: 1.6;
          transition: 0.4s;
          @include limitLine;
        }
      }
    }
    .card-item-footer {
      padding: 2rem;
      border-top: 1px solid $c-theme-border__light;
    }
  }
}
