.heading-block {
  span {
    display: block;
    @include Text($fz-3_sm, $fw-regular, $c-gray);
    text-transform: uppercase;
    line-height: 3rem;
    letter-spacing: 0.1rem;
  }
  h3 {
    @include Text($fz-4_xl, $fw-bold, $c-theme-heading);
    line-height: 4.5rem;
  }
  &.heading-block--center {
    span {
      text-align: center;
    }
    h3 {
      text-align: center;
    }
  }
}
