.heading-block {
  margin-bottom: 2.4rem;
  span {
    display: block;
    @include Text($fz-3_sm, $fw-regular, $c-gray);
    text-transform: uppercase;
    line-height: 3rem;
    letter-spacing: 0.1rem;
  }
  h3 {
    @include Text(2.6rem, $fw-bold, $c-theme-heading);
    line-height: 3.2rem;
    @include breakPoint($bp-sm) {
      font-size: $fz-3_xl;
      line-height: 4rem;
    }
    @include breakPoint($bp-xl) {
      font-size: $fz-4_xl;
      line-height: 4.5rem;
    }
  }
  &.heading-block--center {
    span {
      text-align: center;
    }
    h3 {
      text-align: center;
    }
  }
}
