@import "../Base/reset";
@import "../Components/btn";

@import "../Layouts/header";
@import "../Layouts/slider";

// Slider
.slider {
  .carousel-item {
    img {
      height: 385px;
      object-position: top;
    }
  }
  .carousel-caption {
    transform: translateY(4rem) !important;
    h1 {
      width: 100% !important;
      font-size: 5rem !important;
      text-align: center !important;
    }
    p {
      width: 100% !important;
      opacity: 0.6 !important;
      text-align: center !important;
    }
  }
}

// Company
.company {
  // Company Left
  &-left {
    &-wrap {
      position: relative;
      display: inline-block;
      img {
        position: relative;
        z-index: 2;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
      }
      &__shape {
        border-radius: 25% 70% 84% 22% / 42% 75% 25% 75%;
        box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $c-primary;
        opacity: 0.4;
      }
      &__info {
        position: absolute;
        z-index: 5;
        right: 0;
        bottom: 0;
        min-width: 200px;
        min-height: 200px;
        box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
        background-color: $c-primary;
        border-radius: $border-radius;
        text-align: center;
        @include flexBox(center, center);
        flex-direction: column;
        transform: translateX(25%) rotate(-45deg);
        padding: 3.5rem;
        &-content {
          transform: rotate(45deg);
          h3 {
            color: $c-white;
          }
          p {
            color: $c-white;
            opacity: 0.8;
            font-size: $fz-2_xl;
          }
        }
      }
    }
  }
  // Company Right
  &-right {
    // Company Right Main
    &-main {
      margin-top: 2.4rem;
      h5 {
        @include Text($fz-2_xl, $fw-light, $c-theme-heading);
      }
      p {
        @include Text($fz-md, $fw-light, $c-theme-font);
        margin-top: 2.4rem;
        opacity: 0.8;
      }
    }
    // Company Right Footer
    &-footer {
      @include flexBox(flex-start, center);
      margin-top: 4.8rem;
      a.btn {
        margin-right: 2.4rem;
        padding-block: 1rem;
      }
      &__play-video {
        display: inline-flex;
        width: 7rem;
        height: 7rem;
        align-items: center;
        justify-content: center;
        border: 3px solid $c-primary;
        border-radius: 50%;
        span {
          display: inline-block;
          color: $c-primary;
          font-size: $fz-3_xl;
          transition: 0.4s;
        }
        &:hover {
          span {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  //   Company Footer
  &-footer {
    margin-top: 10rem;
    &-item {
      background-color: $c-theme-bg_grey;
      overflow: hidden;
      border-radius: $border-radius;
      @include flexBox(space-between, flex-start);
      padding: 4rem 3.5rem;
      position: relative;
      &__icon {
        h1 {
          font-size: $fz-4_xl;
          color: $c-primary;
          width: 6rem;
        }
      }
      &__content {
        flex: 1;
        min-height: 140px;
        h3 {
          @include Text($fz-2_xl, $fw-regular, $c-theme-heading);
          margin-bottom: 1.5rem;
          line-height: 1.6;
          @include limitLine;
          transition: 0.4s;
        }
        p {
          @include Text($fz-md, $fw-light, $c-theme-font);
          line-height: 1.6;
          @include limitLine;
          opacity: 0.8;
        }
      }
      &__link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
      }
      &:hover {
        .company-footer-item__content h3 {
          color: $c-primary;
        }
      }
    }
  }
}

// Web
.web {
  // Web Left
  &-left {
    &-main {
      padding-top: 2.4rem;
      &-item {
        h1 {
          @include Text($fz-4_xl, $fw-light, $c-primary);
        }
        h3 {
          @include Text($fz-2_xl, $fw-regular, $c-theme-heading);
          margin-block: 2.4rem;
        }
        p {
          @include Text($fz-md, $fw-light, $c-theme-font);
          opacity: 0.8;
        }
      }
    }
  }
  // Web Right
  &-right {
    &-item {
      overflow: hidden;
      border-radius: $border-radius;
    }
  }
}

// Generation
.generation {
  background-image: url("../Images/bg1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  &::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: $c-theme-layer;
  }
  &-content {
    position: relative;
    text-align: center;
    max-width: 700px;
    margin: auto;
    h3 {
      @include Text($fz-4_xl, $fw-regular, $c-white);
    }
    p {
      @include Text($fz-sm, $fw-light, $c-white);
      opacity: 0.8;
      margin-block: 2.4rem;
    }
    &__play {
      &-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @include radiusBlock(7rem, 7rem);
        border: 3px solid $c-white;
        transition: 0.4s;
        span {
          font-size: $fz-2_xl;
          color: $c-white;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

// Magnific Popup
.mfp-content {
  max-width: 750px !important;
  .mfp-iframe-scaler {
    iframe {
      height: 420px !important;
    }
  }
}

@import "../Layouts/footer";
@import "../Components/btnToTop";
@import "../Components/headingBlock";
