@import "./../Base/reset";
@import "./../Components/btn";
@import "./../Components/headingBlock";
@import "./../Components/cardItem";

@import "../Layouts/header";
@import "../Layouts/slider";

// Slider
.slider {
  .carousel-item {
    img {
      height: 268px;
      object-position: top;
      @include breakPoint($bp-lg) {
        height: 385px;
      }
    }
  }
  .carousel-caption {
    transform: translateY(4rem) !important;
    h1 {
      width: 100% !important;
      font-size: $fz-3_xl !important;
      text-align: center !important;
      @include breakPoint($bp-lg) {
        font-size: 5rem !important;
      }
    }
    p {
      width: 100% !important;
      opacity: 0.6 !important;
      text-align: center !important;
      margin-block: 0.8rem !important;
      @include breakPoint($bp-lg) {
        margin-block: 2.4rem !important;
      }
    }
  }
}

// Blog
.blog {
  background-color: $c-theme-bg_grey !important;
  .paginate {
    .items {
      .card-item {
        background-color: $c-theme-bg;
        .blog-item-author {
          @include flexBox(space-between, center);
          &__blog-meta {
            flex: 1;
            padding-inline: 1rem;
            margin-bottom: 0;
            li {
              span {
                @include Text($fz-2_sm, $fw-regular, $c-theme-font);
                opacity: 0.6;
              }
              a {
                @include Text($fz-sm, $fw-regular, $c-theme-heading);
                margin-left: 0.4rem;
                transition: 0.4s;
                &:hover {
                  color: $c-primary;
                }
              }
            }
          }
          &__date {
            p {
              margin-bottom: 0;
              @include Text($fz-2_sm, $fw-light, $c-theme-font);
              opacity: 0.8;
            }
          }
        }
      }
    }
    .pager {
      @include flexBox(center, center);
      padding-block: 4rem;
      gap: 0.6rem;
      div:not(.pageNumbers) {
        padding: 0.6rem 1.4rem;
        border: 2px solid $c-theme-border__light;
        cursor: pointer;
        color: $c-theme-font;
        font-size: $fz-md;
        font-weight: $fw-regular;
        transition: 0.4s;
        &:hover {
          background-color: $c-primary;
          color: $c-white;
        }
      }
      .pageNumbers {
        a {
          padding: 0.6rem 1.4rem;
          border: 2px solid $c-theme-border__light;
          cursor: pointer;
          color: $c-theme-font;
          font-size: $fz-md;
          font-weight: $fw-regular;
          transition: 0.4s;
          &:hover {
            background-color: $c-primary;
            color: $c-white;
          }
          &.active {
            background-color: $c-primary;
            color: $c-white;
          }
          &:not(:last-child) {
            margin-right: 0.6rem;
          }
        }
      }
    }
  }
}

@import "./../Layouts/footer";
@import "./../Components/btnToTop";
